In [8]:
import mysql.connector

connect = mysql.connector.connect(user='root', password='password',
                              host='127.0.0.1', database='sakila',
                              auth_plugin='mysql_native_password')
print(connect.connection_id)    

cursor = connect.cursor()

query = ("""select actor.first_name, actor.last_name, film_text.title, film_text.description 
from actor 
inner join film_actor on actor.actor_id = film_actor.actor_id
inner join film_text on film_actor.film_id = film_text.film_id
where title like 'zo%%'""")
                  
cursor.execute(query)

records = cursor.fetchall()

print("Total number of rows is: ", cursor.rowcount)

print("\nPrinting each record")

for row in records:
        print("first_name = ", row[0], )
        print("last_name = ", row[1])
        print("title = ", row[2])
        print("description  = ", row[3], "\n")
        
# disconnect from server
connect.close()

108
Total number of rows is:  8

Printing each record
first_name =  CARMEN
last_name =  HUNT
title =  ZOOLANDER FICTION
description  =  A Fateful Reflection of a Waitress And a Boat who must Discover a Sumo Wrestler in Ancient China

first_name =  MARY
last_name =  TANDY
title =  ZOOLANDER FICTION
description  =  A Fateful Reflection of a Waitress And a Boat who must Discover a Sumo Wrestler in Ancient China

first_name =  PENELOPE
last_name =  CRONYN
title =  ZOOLANDER FICTION
description  =  A Fateful Reflection of a Waitress And a Boat who must Discover a Sumo Wrestler in Ancient China

first_name =  WHOOPI
last_name =  HURT
title =  ZOOLANDER FICTION
description  =  A Fateful Reflection of a Waitress And a Boat who must Discover a Sumo Wrestler in Ancient China

first_name =  JADA
last_name =  RYDER
title =  ZOOLANDER FICTION
description  =  A Fateful Reflection of a Waitress And a Boat who must Discover a Sumo Wrestler in Ancient China

first_name =  IAN
last_name =  TANDY
title =  ZORRO ARK
description  =  A Intrepid Panorama of a Mad Scientist And a Boy who must Redeem a Boy in A Monastery

first_name =  NICK
last_name =  DEGENERES
title =  ZORRO ARK
description  =  A Intrepid Panorama of a Mad Scientist And a Boy who must Redeem a Boy in A Monastery

first_name =  LISA
last_name =  MONROE
title =  ZORRO ARK
description  =  A Intrepid Panorama of a Mad Scientist And a Boy who must Redeem a Boy in A Monastery